{{#each post}}
  <div postId='{{id}}' id='user-posts' class='dashboard-list-box'>
    <div class='single-post-list'>
      <div class='title-box'>
        <div class='title-el'>
          <div>{{title}}</div>
        </div>
        <div class='date-name-el'>
          <div class='posted-by'>Posted by {{username}} </div>
          <div> on {{created_at}}</div>
        </div>
      </div>
    </div>
  </div>
{{/each}}
<div class='submit-btn-box'>
  <button id='new-post-btn' class='new-post-btn'>New Post</button>
</div>
<script src='/javascript/dashboard.js'></script>