<div class='login-box'>
  <div class='login-text'>Create New Post</div>
  <form class='create-post-form'>
    <div>
      <div class='username-box'>
        <label class='form-text' for='username-login'>Title:</label>
        <input type='text' id='title-input' class='username-login' />
      </div>
      <div class='password-box'>
        <label class='form-text' for='password-login'>Content:</label>
        <input type='text' class='form-text-content' id='content-input' />
      </div>
      <div>
        <button class='create-btn' id='create-btn' type='submit'>Create</button>
      </div>
    </div>
  </form>
</div>
<script src='/javascript/newPost.js'></script>